<h1 id="heading"><%= @title || "Torello" %></h1>
<div id="scroller">
  <% lists.each_with_index do |list, list_Number| %>
    <div class="list elem">
    <form class="rename-list hidden" action="lists/<%= list.id %>/rename" method="post">
      <input type="text" name="new_name" placeholder="<%= list.name %>" autofocus>
    </form>    
      <form class="update-all" action="lists/update" method="post">
        <input type="hidden" name="id" value="<%= list.id %>">
        <input type="hidden" name="name" value="<%= list.name %>">
        <div class="list-header-container">
          <div class="list-header" style="text-align: center"><%= list.name %></div>
          <!-- <div class="triangle"></div> -->
          <div name="list-menu">
            <button class="save hidden" name="save_all">Save</button>
          </div>
        </div>
        <ul class="js-sortable-items">
          <% list.items.each_with_index do |item, idx| %>
            <%= erb :"shared/_item.html", locals: {item: item, index: idx, list_Number: list_Number, list: list} %>
          <% end %>
        </ul>
      </form>
      <form class="add-item" action="lists/<%= list.id %>/items/add" method="post">
        <input type="text" name="name" class="new-item" placeholder="Add an item..." required>
      </form>
    </div>
  <% end %>  